body{
      overflow-x: hidden;
}
.foooter{
  margin-top: 100px;
        overflow: hidden;
      background-color:#f5f5f5;
      position: relative; 
  overflow: hidden;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 200px; */
      color: #37003c;
      /* height: 50vh; */
        text-transform: capitalize;
        padding-top: 50px;
        /* background-color: grey; */
}
/* .im{
    display: flex;
    justify-content: center;
} */
.im img{
    width: 230px;
    height: 90px;
}
.footer h1{
    /* text-decoration:underline ; */
    /* text-decoration-color:#01e4d5; */
    display: inline-block; 
  border-bottom: 5px solid #01e4d5; 
  padding-bottom: 10px;

}

.footer a{
    text-decoration: none;
  color: #37003c;
}
.line1,
.line2,
.line3,
.line4,
.line5,
.line6 {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}
/* .firstline{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    
} */
.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 50px;
}
.fin{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}
.terms {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.terms span::after {
  content: ".";
  margin-left: 10px;
}
.terms span:last-child::after {
  content: "";
}
.bac{
       rotate: -15deg;
    position: absolute;
    z-index: 1;
    margin: 0px -800px 120px 534px;
}
.back{
    width: 350px;
    rotate: -8deg;
    position: absolute;
    z-index: 1;
    margin: 110px -759px 0px 435px;
}
/* logobar */

.logo-container {
  margin-top: 100px;
  margin-bottom: 40px;
  width: 100%;
  /* padding: 40px 0; */
  /* background-color: #ffffff; */
  /* border-top: 2px solid #84a3d2; */
  /* border-bottom: 2px solid #84a3d2; */
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.logo {
  display: flex;
    width: max-content;
    gap: 60px;
    animation: scroll 20s linear infinite;
}

.img-logo {
  height: 50px;
  width: auto;
  /* filter: grayscale(100%); */
  /* opacity: 0.6; */
  transition: all 0.3s ease;
}

.img-logo:hover {
  filter: grayscale(0%);
  opacity: 1;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}