body{
    /* background-color: rgb(73, 25, 118); */
    /* height: 10000pc; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.373);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    color: white;
    /* filter: blur(5px); */

}
.logo {
  position: relative;
  display: inline-block;
 

}

.logo img{
      /* display: block; */
    width: 50px;
    height: 50px;
}
.logo::after {
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(138, 43, 226, 0.7);  */
  mix-blend-mode: screen;
}

.list a {
    text-decoration: none;
    color: #37003c;
    /* gap: 16px; */
    padding: 20px 15px;
  /* border-radius: 8px; */
  position: relative;
  transition: all 0.3s ease;
}
.list a:hover{
    background-color:#37003c;
    color: white;
    /* color: #fff; */
  /* background: linear-gradient(45deg, #7b2ff7, #9f44d3); */
  transform: translateY(-2px);
}
.list{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-left: -650px;
}
.profile {
margin-left: -650px;
background-color: rgba(255, 255, 255, 0.373);
border: none;
background: none;
}
.search{
  position: relative;
  display: flex;
  align-items: center;
}
.search-input {
  position: absolute;

  right: 45px; 
  top: 50%;
  transform: translateY(-50%);

  width: 180px; 

  padding: 8px 15px;
  border-radius: 25px;
  border: 1px solid rgba(196, 88, 246, 0.3);

  background: rgba(98, 2, 129, 0.477);
  backdrop-filter: blur(8px);

  color: white;
  outline: none;

  z-index: 2000; 

  transition: 0.3s;
}

.search-input::placeholder {
  color: rgba(255,255,255,0.7);
}

.search-input:focus {
  border-color: violet;
  box-shadow: 0 0 10px rgba(138,43,226,0.6);
}
.profile img{
width: 30px;
}
.search button{
background:none;
border: none;
 cursor: pointer;
  position: relative;
  z-index: 3000;
}

.search img{
    width: 25px;
    
}